
.App {
  text-align: center;
}

.navBar{
  background-color: salmon;
}

.NavLinks{
  color:whitesmoke;
  font-size: 3vh;
  font-weight: bolder;
  margin: 0 1vh;

}
.NavLinks:hover{
  color: white;
  text-decoration: none;
}

.jumbotron{
  background-image: url('https://i.imgur.com/GoiKzJB.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
 margin-top: 3vh;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.jumbotronTitle{
  color: white;
  font-weight: bolder;
  filter: none;
}

.lead{
  color: green;
  font-weight: bold;
  margin-top: 10vh;
}

/* .jumbotron Button{
  float: Right;
  margin-top: 60% auto;
  
} */

.contextTitle{
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  color: #929292;
}

.contextBody{
  font-weight: bold;
  text-align: justify;
  font-size: 1em;
  color: rgb(109, 109, 110);
}
.headers{
  font-weight: bold;
  text-align: center;
  color: salmon;
  margin-top: 10vh;
}

.headersLine{
  width: 20%;
  height: 3px;
  background-color: salmon;
}

.card{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 3vh 0;
}

.carousel{
  margin: 3vh 0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* //footer */
.footer {
  
  background:rgb(66, 64, 64);
}

.footerFonts{
  text-align: center;
}

.footerFonts span a > i{
  color: salmon;
  position:relative;
  top: calc(50% - 10px);
  margin-right: 2em;
}

.footer h5{
  text-align: center;
  color: white;
  margin-top: 0.5em;

}
.contactform{
  margin: 15vh 0;
  padding: 3vh;
  font-size: 3vh;
font-weight: bold;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}
