
.App {
  text-align: center;
}

.navBar{
  background-color: salmon;
}

.navname{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  color:white;
}
.NavLinks{
  color:whitesmoke;
  font-size: 3vh;
  font-weight: bolder;
  margin: 0 1vh;
  background-color:mediumslateblue;

}
.NavLinks:hover{
  color: mediumslateblue;
  text-decoration: none;
  background-color: white
}

.jumbotron{
  background-size: cover;
  background-position: center;
  height: 100vh;
 margin-top: 2rem;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.jumbotron img{
  height: 60vh;
  position: relative;
}

.jumbotron .text{
  position: relative;
    margin: 0 auto;     
    text-align: center;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    color: black;
    width: 70%; /* Set the width of the positioned div */
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
  }

.contextTitle{
  letter-spacing: 0.2rem;
text-transform: uppercase;
font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  color:black;
}

.contextBody{
  letter-spacing: 1px;
  text-align: justify;
  font-size: 1em;
  color: rgb(60, 60, 61);
}
.headers{
  font-weight: bold;
  text-align: center;
  color: salmon;
  margin-top: 10vh;
}

.headersLine{
  width: 20%;
  height: 3px;
  background-color: salmon;
}

.card{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: all 0.5s ease-in-out;
  margin: 3vh 0;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 0 12px 16px 0 salmon, 0 17px 50px 0 salmon;

}
.carousel{
  margin: 3vh 0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* //footer */
.footer {
  margin-top: 5rem;
  background:rgb(66, 64, 64);
  font-family: 'Permanent Marker', cursive;
}

.footerFonts{
  text-align: center;
}

.footerFonts span a > i{
  color: white;
  position:relative;
  
}

.footer h5{
  text-align: center;
  color: white;
  margin-top: 0.5em;

}

.jerrywebman{
  margin-top: 0.5em;
 
}
.contactform{
  margin: 15vh 0;
  padding: 3vh;
  font-size: 3vh;
font-weight: bold;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}
